html,
.App {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.App {
  display: flex;
  min-height: 100vh;
}
.left-bar {
  width: 20%;
  min-height: 100vh;
  height: 100%;
  flex: 2;
}

.right-bar{
  width: 20%;
  min-height: 100vh;
  height: 100%;
  flex: 1;
  max-width: 100px;
}

.main-content {
  min-height: 100vh;
  height: 100%;
  flex: 3;
  color: #1da1f2;
  border-right: gray solid thin;
  border-left: gray solid thin;
  max-width: 1200px;
}
