html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.App {
  display: flex;
  min-height: 100vh;
}
.left-bar {
  width: 25%;
  min-height: 100vh;
  height: 100%;
}

.main-content {
  margin-left: 10px;
  min-height: 100vh;
  height: 100%;
  flex: 1;
  color: #1da1f2;
}
